In [7]:
import numpy as np
import pandas as pd

In [8]:
DATA_PATH = '../data'

# Reading and writing data

Reading CSV data from `../data/raw/steamcharts.csv`

Util write params:
- `usecols=[...]` → read some columns
- `dtype={'col1': 'int64', 'col2': 'category'}` → force data types
- `parse_dates=['col_data']` → auto convert columns in datetime
- `nrows=1000` → read just first N rows
- `chunksize=100000` → streaming file read

In [9]:
data = pd.read_csv(f'{DATA_PATH}/raw/steamcharts.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612265 entries, 0 to 612264
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   month         612265 non-null  object
 1   avg_players   612265 non-null  float64
 2   gain          612265 non-null  object
 3   gain_percent  612265 non-null  float64
 4   peak_players  612265 non-null  int64
 5   name          612265 non-null  object
 6   steam_appid   612265 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 32.7+ MB

In [10]:
head = data.head()
head

,month,avg_players,gain,gain_percent,peak_players,name,steam_appid
0,Sep-25,7805.25,883.12,0.1276,13254,Counter-Strike,10
1,Aug-25,6922.13,-449.35,-0.0610,12168,Counter-Strike,10
2,Jul-25,7371.48,-833.5,-0.1016,13951,Counter-Strike,10
3,Jun-25,8204.98,-847.53,-0.0936,15798,Counter-Strike,10
4,May-25,9052.51,-471.31,-0.0495,15333,Counter-Strike,10

Writing data on `../data/processed/steamcharts.csv`.

| Format       | Read function     | Write function | Observation                          |
| ------------- | --------------------- | ----------------- | ------------------------------------ |
| Excel (.xlsx) | `pd.read_excel()`     | `to_excel()`      | Requer `openpyxl`                    |
| JSON          | `pd.read_json()`      | `to_json()`       | Pode usar `orient='records'` p/ APIs |
| Feather       | `pd.read_feather()`   | `to_feather()`    | Super rápido (binário, usa Arrow)    |
| Pickle        | `pd.read_pickle()`    | `to_pickle()`     | Armazena objetos Python diretamente  |
| SQL           | `pd.read_sql()`       | `to_sql()`        | Integra com SQLite, Postgres, etc.   |
| HTML          | `pd.read_html()`      | —                 | Extrai tabelas de páginas web        |
| Clipboard     | `pd.read_clipboard()` | `to_clipboard()`  | Muito útil p/ testes rápidos         |

In [ ]:
# head.to_csv(f'{DATA_PATH}/processed/steamcharts.csv', index=False)
# head.to_excel(f'{DATA_PATH}/processed/steamcharts.xlsx', index=False)
# head.to_parquet(f'{DATA_PATH}/processed/steamcharts.parquet', index=False, engine='fastparquet')
# head.to_json(f'{DATA_PATH}/processed/steamcharts_records.json', orient='records', lines=False, index=False)